<form action="pirates" method="POST">
  <p>
    <label for="pirate_name">Pirate Name: </label>
    <input type="text" name="pirate[name]">
  </p>
  <p>
    <label for="pirate_weight">Pirate Weight: </label>
    <input type="number" name="pirate[weight]">
  </p>
  <p>
    <label for="pirate_height">Pirate Height: </label>
    <input type="number" name="pirate[height]">
  </p>
  <p>
    <label for="ship_name">Ship1 Name: </label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  </p>
  <p>
    <label for="ship_type">Ship1 Type: </label>
    <input id="ship_type_1" type="text" name="pirate[ships][][type]">
  </p>
  <p>
    <label for="ship_booty">Ship1 Booty: </label>
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  </p>
    <label for="ship_name">Ship2 Name: </label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  </p>
  <p>
    <label for="ship_type">Ship2 Type: </label>
    <input id="ship_type_2" type="text" name="pirate[ships][][type]">
  </p>
  <p>
    <label for="ship_booty">Ship2 Booty: </label>
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
  </p>
  <input type="submit" value="Submit">
</form>
